{% extends 'base.html' %}
{% load static %} 

{% block title %} | About {% endblock %}

{% block content %}
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}"> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
      </ol>
    </nav>
  </div>
</section>

<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>Welcome to Our Travel and Adventure Portal!</h3>
        <p class="lead" style="font-size: small;">
          Travel represents the opportunity to embrace new cultures, savor local
          cuisines, surrender to the unknown, and return home enriched with
          knowledge and memories.
        </p>
        <img src="{% static 'img/sfondoWander.jpg' %}" alt="" style="width: 600px;
        height: 300px"/>
        <p class="mt-4">
          We are a team of travel enthusiasts who believe that every journey is
          an opportunity to discover, explore, and connect with the world around
          us. Our mission is to provide inspiration and useful information to
          all those who love venturing into new places and experiencing
          authentic moments.
        </p>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Our vision <i class="fas fa-globe"></i></h5>
            <p class="card-text" style="font-size: small;">
              We believe that travel is more than just moving from one place to
              another. We want our portal to be your reliable source for
              inspiration, detailed information, and engaging narratives.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
