{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content%}
<br>
{% include 'partials/_alert.html' %}
<!-- Showcase -->
<section id="showcase" style="min-height: 250px !important">
  <div class="container text-center">
    <div class="home-search p-1">
      <div class="overlay p-5" style="min-height: 200px !important">
        <h1 class="display-4 mb-4">SEARCH AROUND THE WORLD</h1>
        <div class="search">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input
                  type="text"
                  name="keywords"
                  class="form-control"
                  placeholder="Keyword (Mountain, Sea, etc)"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">City</label>
                <input
                  type="text"
                  name="city"
                  class="form-control"
                  placeholder="City"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">State</label>
                <input
                  type="text"
                  name="state"
                  class="form-control"
                  placeholder="State"
                />
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">
              Search for places
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Listings -->
<section id="listings" class="py-5">
  <div class="container">
    <h3 class="text-center mb-3">Preview</h3>
    <div class="row">
      {% if listings %}
      {% for listing in listings %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img
              class="card-img-top"
              src="{{ listing.photo_main.url }}"
              alt=""
              style="max-height: 200px !important"
            />
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{ listing.title }}</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i>
                  {{listing.city}}, {{listing.state}}
                </p>
              </div>
              <hr />
              <div class="row py-2 text-secondary">
                <div class="col-12">
                  <i class="fas fa-user"></i> {{ listing.creator }}
                </div>
              </div>
              <div class="row py-2 text-secondary">
                <p
                  class="ml-3"
                  style="
                    color: black;
                    font: small;
                    width: 250px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                >
                  {{ listing.description }}
                </p>
              </div>
              <hr />
              <a
                href="{% url 'listing' listing.id %}"
                class="btn btn-primary btn-block"
                >More Info</a
              >
            </div>
          </div>
        </div>
      {% endfor %}
      {% else %}
        <div class="col-md-12">
          <p>No Listings Available</p>
        </div>
      {% endif %}
    </div>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr />
        <h4>Share Your Ideas</h4>
        <p>
          Immerse yourself in the experiences of fellow travelers and share your
          own ideas. Add your thoughts on places you have visited or dream of
          exploring. Be part of a community of travel enthusiasts.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-globe fa-4x mr-4"></i>
        <hr />
        <h4>Explore Through Reviews</h4>
        <p>
          Find out what other travelers are saying about the destinations on
          your mind. This is your platform to connect with fellow travel lovers
          and find inspiration for your adventures.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-suitcase fa-4x mr-4"></i>
        <hr />
        <h4>Draw Inspiration from Extraordinary Journeys</h4>
        <p>
          Discover captivating destinations through a collection of stunning
          photos and videos. Browse images of the most incredible locations and
          get inspired for your next adventurous journey.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
